USE [FormsDB]
GO
/****** Object:  Table [dbo].[form]    Script Date: 2023/3/30 10:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[height] [float] NOT NULL,
	[weight] [float] NOT NULL,
	[school] [nchar](50) NOT NULL,
	[profile] [nvarchar](max) NULL,
	[avatar] [nchar](100) NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_form] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[form] ON 

INSERT [dbo].[form] ([id], [name], [age], [height], [weight], [school], [profile], [avatar], [createTime], [updateTime]) VALUES (10, N'肖墨遥                                               ', 26, 1.83, 73.5, N'华南理工大学                                            ', N'<p style="color:maroon">我很有想象力</p><img src="/Images/avatar.png">', N'/Images/avatar.png                                                                                  ', CAST(N'2022-01-25T17:50:40.000' AS DateTime), CAST(N'2022-01-25T17:50:40.000' AS DateTime))
INSERT [dbo].[form] ([id], [name], [age], [height], [weight], [school], [profile], [avatar], [createTime], [updateTime]) VALUES (11, N'楚简成                                               ', 23, 1.72, 60.9, N'北京航空航天大学                                          ', N'<p style="color:navy">我很有决心</p><img src="/Images/avatar.png">', N'/Images/avatar.png                                                                                  ', CAST(N'2022-01-25T18:55:20.000' AS DateTime), CAST(N'2022-01-25T18:55:20.000' AS DateTime))
INSERT [dbo].[form] ([id], [name], [age], [height], [weight], [school], [profile], [avatar], [createTime], [updateTime]) VALUES (12, N'卫清朗                                               ', 25, 1.79, 69.7, N'中国科学技术大学                                          ', N'<p style="color:olive">我很有毅力</p><img src="/Images/avatar.png">', N'/Images/avatar.png                                                                                  ', CAST(N'2022-01-25T19:50:10.000' AS DateTime), CAST(N'2022-01-25T19:50:10.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[form] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'年龄' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'age'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'身高' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'height'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'体重' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'weight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'毕业学校' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'school'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'个人简介' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'profile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'avatar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'createTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'form', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
